<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parkjonghyun.foodstore.user.dao.mapper.UserMapper">
	<select id="loginUser" resultType="user" parameterType="user">
        select user_id userId, user_pw userPw, user_name userName, reg_date regDate, user_address userAddress, user_tel userTel, user_email userEmail
        from users
        where user_id = #{userId} 
        AND user_pw = #{userPw}
    </select>
 	<select id="franCnt" resultType="int">
 		select COUNT(*)
 		from users
 		where user_id like 'fran%'
 	</select>
 
	<insert id="joinUser"  parameterType="user">
        insert into users values (
        #{userId}, #{userPw}, #{userName}, #{regDate}, #{userAddress}, #{userTel}, #{userEmail})
    </insert>

</mapper>